h1{
  color:#D4AF37;
  font-size: 100px;
  font-size: calc(90px + 5vw);
  font-family: "Snell Roundhand";
  padding-top: 160px;
  padding-top: calc(240px + 8vh);
  padding-right: 30px;
  text-align: center;
  line-height: 0.1;
}

h2{
  color: white;
  font-family: "Snell Roundhand";
  font-size: 30px;
  text-align: center;
  margin-top: 1px;
  line-height: 0.5;
}

body{
  background-image: url("border.png");
  background-position: center;
  background-size: contain;
  background-color: black;
}

a{
  position: absolute;
  top: 70%;
  left: 44%;
}

Button {
font-size: 150%;
background:#000000;
color: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 10px;
}

Button:hover{
color: #000000;
background: #FFFFFF;
border: 1px solid #FFFFFF;
}

ul{
  color:white;
  font-size:40px;
  font-style: italic;
  text-align: center;
  position:absolute;
  top:15%;
  left:32%;
}
